<!DOCTYPE html>
<html>
<head>
  <title>Analyze</title>
  <%= stylesheet_link_tag    "analyze/application", :media => "all" %>
  <%= javascript_include_tag "analyze/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
